.button {
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    color: dodgerblue;
    border: solid 2px dodgerblue;
    border-radius: 20px;
    margin: 15px;
}
.button:hover {
    color: white;
    background-color: dodgerblue;
    transition: 0.2s;
}
.button:active {
    transform: scale(0.97);
    transition: 0.1s;
}

#message {
    display: block;
    width: 600px;
    margin: 15px;
    resize: vertical;
    height: 80px;
    max-height: 200px;
    border: solid 1px rgba(140, 211, 255, 0.39);
    border-radius: 4px;
}